@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
}
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: #2a2a2a;
  text-decoration: none;
}

i {
  font-family: "Font Awesome";
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

.container {
  height: 100%;
  padding-bottom: 5rem;
  padding-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .row {
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -webkit-transition: max-width 100ms ease 0s;
  -moz-transition: max-width 100ms ease 0s;
  -o-transition: max-width 100ms ease 0s;
  transition: max-width 100ms ease 0s;
}
@media (min-width: 576px) {
  .container .row {
    max-width: calc(576px - 1rem);
  }
}
@media (min-width: 768px) {
  .container .row {
    max-width: calc(768px - 1rem);
  }
}
@media (min-width: 992px) {
  .container .row {
    max-width: calc(992px - 2rem);
  }
}
@media (min-width: 1200px) {
  .container .row {
    max-width: calc(1200px - 4rem);
  }
}
@media (min-width: 1400px) {
  .container .row {
    max-width: calc(1400px - 5rem);
  }
}

.button {
  background-color: #fe3f40;
  border-radius: 1.875rem;
  color: #ffffff;
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 400;
  padding: 0.75rem 1.5625rem !important;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: background-color 300ms ease;
}
.button:hover {
  background-color: #03a4ed;
}

.card {
  background: #ffffff;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: block;
  height: 100%;
  text-align: center;
}

.section-info__title {
  width: 100%;
  color: #2a2a2a;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  text-transform: capitalize;
}
@media (min-width: 992px) {
  .section-info__title {
    width: 80%;
  }
}

.section-info__text {
  font-size: 0.9375rem;
  line-height: 2;
  margin-bottom: 3.75rem;
}

.base-color {
  color: #03a4ed;
}

.accent-color {
  color: #fe3f40;
}

.main-navbar {
  height: auto;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
  background-color: #ffffff;
  z-index: 100;
}
.main-navbar .row > div {
  flex-wrap: wrap;
  max-height: 5rem;
  overflow: hidden;
  transition: max-height 0.4s ease;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 992px) {
  .main-navbar .row > div {
    height: 5rem;
  }
}
.main-navbar .row > div .main-navbar__wrapper {
  height: 5rem;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 992px) {
  .main-navbar .row > div .main-navbar__wrapper {
    width: calc(8.3333333333% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.main-navbar .row > div .main-navbar__wrapper .main-navbar__logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #03a4ed;
  letter-spacing: 2.5px;
}
.main-navbar .row > div .main-navbar__wrapper i {
  display: inline-block;
  margin: 0 1rem 0 0;
}
@media (min-width: 992px) {
  .main-navbar .row > div .main-navbar__wrapper i {
    display: none;
  }
}
.main-navbar .row > div .main-navbar__menu {
  border-radius: 0 0 2.5rem 2.5rem;
  font-weight: 500;
  width: 100%;
}
@media (min-width: 992px) {
  .main-navbar .row > div .main-navbar__menu {
    margin: 0 1rem 0 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }
}
.main-navbar .row > div .main-navbar__menu .main-navbar__menu-item {
  border-top: 1px solid #f6f6f6;
  color: #2a2a2a;
  font-size: 0.9375rem;
  width: 100%;
}
.main-navbar .row > div .main-navbar__menu .main-navbar__menu-item:hover a {
  color: #fe3f40 !important;
}
@media (min-width: 992px) {
  .main-navbar .row > div .main-navbar__menu .main-navbar__menu-item {
    border-top: 0;
    width: auto;
  }
}
.main-navbar .row > div .main-navbar__menu .main-navbar__menu-item a {
  display: block;
  padding: 0.9375rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
  -webkit-transition: color 200ms ease 0s;
  -moz-transition: color 200ms ease 0s;
  -o-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
}
@media (min-width: 992px) {
  .main-navbar .row > div .main-navbar__menu .main-navbar__menu-item a {
    padding: 0.625rem;
  }
}
@media (min-width: 1200px) {
  .main-navbar .row > div .main-navbar__menu .main-navbar__menu-item a {
    padding: 1.25rem;
  }
}
.main-navbar .row > div > .button {
  display: none;
}
@media (min-width: 992px) {
  .main-navbar .row > div > .button {
    display: inline-block;
  }
}

.show-main-navbar {
  max-height: 1000px !important;
  transition: max-height 0.4s ease-in;
}

.hero {
  height: 100%;
  padding-top: 10rem;
  position: relative;
}
@media (min-width: 992px) {
  .hero {
    height: 100vh;
  }
}
.hero .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.hero .row .hero__left {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
@media (min-width: 992px) {
  .hero .row .hero__left {
    padding-right: 2.5rem;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: calc(50% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.hero .row .hero__left::before {
  background-image: url("../images/baner-dec-left.png");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  max-height: 31.25rem;
  max-width: 12.5rem;
  position: absolute;
  top: 5rem;
  width: 100%;
  z-index: -1;
}
.hero .row .hero__left .hero__pre-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.9375rem;
}
.hero .row .hero__left .hero__title {
  color: #2a2a2a;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.9375rem;
}
.hero .row .hero__left .hero__text {
  font-size: 0.9375rem;
  line-height: 2;
  margin-bottom: 1.875rem;
}
.hero .row .hero__left .hero__search {
  background-color: #03a4ed;
  border-radius: 4.0625rem;
  height: 4.0625rem;
  padding: 0.625rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 992px) {
  .hero .row .hero__left .hero__search {
    width: 80%;
  }
}
.hero .row .hero__left .hero__search input {
  background-color: transparent;
  border: 0;
  height: 100%;
  padding-left: 0.9375rem;
  width: 80%;
  outline: none;
  color: white;
}
.hero .row .hero__left .hero__search input::placeholder {
  color: white;
}
.hero .row .hero__left .hero__search button {
  background-color: white;
  border: 0;
  border-radius: 4.0625rem;
  color: #fe3f40;
  display: inline-block;
  height: 100%;
  width: 40%;
  min-width: 10rem;
}
.hero .row .hero__right {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  text-align: center;
}
.hero .row .hero__right::after {
  background-image: url("../images/baner-dec-right.png");
  background-position: right top;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 5rem;
  width: 100%;
  z-index: -1;
}
@media (min-width: 992px) {
  .hero .row .hero__right {
    width: calc(50% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.hero .row .hero__right img {
  max-width: 100%;
}

.features {
  background-image: url("../images/about-left-image.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 18.75rem;
}
@media (min-width: 992px) {
  .features {
    background-image: url("../images/about-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 9.375rem;
    padding-top: 10rem;
  }
}
.features .row .features__left {
  display: none;
}
@media (min-width: 992px) {
  .features .row .features__left {
    display: inline-block;
    width: calc(33.3333333333% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.features .row .features__left img {
  max-width: 100%;
  width: 100%;
}
.features .row .features__right {
  flex-wrap: wrap;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 768px) {
  .features .row .features__right {
    width: calc(83.3333333333% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
@media (min-width: 992px) {
  .features .row .features__right {
    width: calc(66.6666666667% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.features .row .features__right .features__item {
  background: linear-gradient(105deg, rgb(255, 77, 30) 0%, rgb(255, 44, 109) 100%);
  color: #ffffff;
  margin-bottom: 1.875rem;
  padding: 1.875rem;
  border-radius: 1.25rem;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
@media (min-width: 992px) {
  .features .row .features__right .features__item {
    background: transparent;
    width: calc(50% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    padding: 0;
  }
}
.features .row .features__right .features__item img {
  margin-right: 1.5625rem;
}
.features .row .features__right .features__item .features__item-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.features .row .features__right .features__item .features__item-text {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 0.75rem;
}

.service .row .service__left {
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
@media (min-width: 992px) {
  .service .row .service__left {
    padding-right: 2.8125rem;
    width: calc(50% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.service .row .service__left img {
  max-width: 100%;
  width: 100%;
}
.service .row .service__right {
  margin-top: 3.75rem;
  text-align: center;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
@media (min-width: 768px) {
  .service .row .service__right {
    width: calc(83.3333333333% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
@media (min-width: 992px) {
  .service .row .service__right {
    margin-top: 0;
    text-align: left;
    width: calc(50% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.service .row .service__right .bars .bar__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.9375rem;
  margin-top: 1.875rem;
}
.service .row .service__right .bars .bar__progress {
  background-color: #f7eff1;
  border-radius: 0.625rem;
  height: 0.375rem;
  width: 100%;
}
.service .row .service__right .bars .bar-1 .bar__progress-front {
  background-color: #fe3f40;
  border-radius: 0.625rem;
  display: block;
  height: 100%;
  position: relative;
  width: 84%;
}
.service .row .service__right .bars .bar-1 .bar__progress-front::after {
  bottom: 100%;
  color: #03a4ed;
  content: "84%";
  font-size: 1.125rem;
  font-weight: 600;
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
}
.service .row .service__right .bars .bar-2 .bar__progress-front {
  background-color: #fe3f40;
  border-radius: 0.625rem;
  display: block;
  height: 100%;
  position: relative;
  width: 88%;
}
.service .row .service__right .bars .bar-2 .bar__progress-front::after {
  bottom: 100%;
  color: #03a4ed;
  content: "88%";
  font-size: 1.125rem;
  font-weight: 600;
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
}
.service .row .service__right .bars .bar-3 .bar__progress-front {
  background-color: #fe3f40;
  border-radius: 0.625rem;
  display: block;
  height: 100%;
  position: relative;
  width: 94%;
}
.service .row .service__right .bars .bar-3 .bar__progress-front::after {
  bottom: 100%;
  color: #03a4ed;
  content: "94%";
  font-size: 1.125rem;
  font-weight: 600;
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
}

.offer .row .offer__title {
  text-align: center;
}
.offer .row .row .offer-item {
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
@media (min-width: 768px) {
  .offer .row .row .offer-item {
    width: calc(50% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
@media (min-width: 992px) {
  .offer .row .row .offer-item {
    width: calc(25% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.offer .row .row .offer-item .offer-item__body {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  position: relative;
  text-align: center;
  transition: all 0.5s;
  transform: translateY(-50%);
  margin-bottom: -6.25rem;
}
.offer .row .row .offer-item .offer-item__body img {
  max-width: 6.25rem;
}
.offer .row .row .offer-item .offer-item__tip-body {
  background: linear-gradient(105deg, rgb(255, 77, 30) 0%, rgb(255, 44, 109) 100%);
  border-radius: 20px;
  color: #fff;
  position: relative;
  padding: 30px;
  text-align: center;
  transition: all 0.5s;
  width: 100%;
  z-index: -1;
  visibility: hidden;
  transform: translateY(50%);
}
.offer .row .row .offer-item .offer-item__tip-body::after {
  content: "";
  position: absolute;
  top: calc(100% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  display: inline-block;
  background: linear-gradient(105deg, rgb(255, 77, 30) 0%, rgb(255, 44, 109) 100%);
  transform: rotate(45deg);
}
.offer .row .row .offer-item .offer-item__tip-body h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.offer .row .row .offer-item .offer-item__tip-body p {
  font-size: 15px;
  line-height: 30px;
}
.offer .row .row .offer-item:hover .offer-item__body {
  transform: translate(0);
}
.offer .row .row .offer-item:hover .offer-item__tip-body {
  visibility: visible;
  transform: translateY(-20px);
}

@media (min-width: 992px) {
  .tranding > .row {
    background-image: url("../images/blog-dec.png");
    background-position: right top;
    background-repeat: no-repeat;
    padding-top: 5rem;
  }
}
.tranding > .row .tranding__title {
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  text-align: center;
}
@media (min-width: 992px) {
  .tranding > .row .tranding__title {
    width: calc(100% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-right: 60%;
    margin-bottom: 3.125rem;
    text-align: left;
  }
}
.tranding > .row .tranding__left {
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
@media (min-width: 992px) {
  .tranding > .row .tranding__left {
    width: calc(50% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.tranding > .row .tranding__left > div {
  position: relative;
}
.tranding > .row .tranding__left img {
  width: 100%;
  max-width: 100%;
  border-radius: 1.25rem;
}
.tranding > .row .tranding__left .tranding__item {
  position: absolute;
  padding: 1.875rem;
  text-align: left;
  height: auto;
  bottom: 0;
  transform: translateY(50%);
}
@media (min-width: 992px) {
  .tranding > .row .tranding__left .tranding__item {
    width: 90%;
  }
}
.tranding > .row .tranding__left .tranding__item .tranding__item-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.tranding > .row .tranding__left .tranding__item .tranding__item-meta li {
  margin-right: 0.9375rem;
  color: #afafaf;
  font-weight: 300;
}
.tranding > .row .tranding__left .tranding__item .tranding__item-meta li i {
  color: #fe3f40;
  margin-right: 0.625rem;
}
.tranding > .row .tranding__left .tranding__item .tranding__item-title {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.tranding > .row .tranding__left .tranding__item .tranding__item-text {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #2a2a2a;
  line-height: 2;
}
.tranding > .row .tranding__left .button {
  margin-top: 5%;
}
@media (min-width: 992px) {
  .tranding > .row .tranding__left .button {
    position: absolute;
    margin-top: 4.375rem;
    left: 0;
  }
}
.tranding > .row .tranding__right {
  margin-top: 10.625rem;
  width: calc(100% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
@media (min-width: 992px) {
  .tranding > .row .tranding__right {
    width: calc(50% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
.tranding > .row .tranding__right .tranding__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  text-align: left;
  box-shadow: none;
  border-top: 1px solid #eee;
}
@media (min-width: 992px) {
  .tranding > .row .tranding__right .tranding__item {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    flex-wrap: nowrap;
    border-top: 0;
  }
}
.tranding > .row .tranding__right .tranding__item > div {
  width: 100%;
}
.tranding > .row .tranding__right .tranding__item .tranding__item-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.tranding > .row .tranding__right .tranding__item .tranding__item-meta li {
  margin-right: 0.9375rem;
  color: #afafaf;
  font-weight: 300;
}
.tranding > .row .tranding__right .tranding__item .tranding__item-meta li i {
  color: #fe3f40;
  margin-right: 0.625rem;
}
.tranding > .row .tranding__right .tranding__item .tranding__item-title {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.tranding > .row .tranding__right .tranding__item .tranding__item-text {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #2a2a2a;
  line-height: 2;
}
.tranding > .row .tranding__right .tranding__item img {
  border-radius: 1.25rem;
  width: 100%;
  max-width: 100%;
  margin-top: 1.25rem;
}
@media (min-width: 992px) {
  .tranding > .row .tranding__right .tranding__item img {
    margin-left: 1.875rem;
    width: auto;
  }
}
